@charset "utf-8";
/* CSS Document */
* {
	margin:0px auto;
	box-sizing:border-box;
	-ms-box-sizin:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
.mainpage {
	position:relative;
	margin:0px auto;
	width:100%;
	max-width:900px;
	height:700px;
	background-color:#D3D2D2;
	overflow-hidden;
	}
.mainpage_text {
	font-size:24px;
	text-align:center;
	width:100%;
	height:70px;
	background-color:red;
	padding:10px;
	}
.buttons {
	width:100%;
	max-width:325px;
	margin:0px auto;
	background-color:#D3D2D2;
	position:relative;
	over-flow:hidden;
	padding-left:36px;
	}
.admin {
	margin-top:100px;
	width:100%;
	width:250px;
	height:70px;
	background-color:#e65100;
	color:#ffffff;
	font-size:18px;
	border:none;
	outline:none;
	}
.cassier {
	margin-top:40px;
	width:250px;
	height:70px;
	background-color:#01579b;
	color:#ffffff;
	font-size:18px;
	border:none;
	outline:none;
	}
.register_info {
	margin-top:40px;
	width:250px;
	height:70px;
	background-color:#827717;
	color:#ffffff;
	font-size:18px;
	border:none;
	outline:none;
	}
.sale_reports {
	margin-top:40px;
	width:250px;
	height:70px;
	background-color:#00c853;
	color:#ffffff;
	font-size:18px;
	border:none; 
	outline:none;
	}
.input {
	border:none;
	outline:none;}
a {
	text-decoration:none;
	}
.bottom1 {
	float:left;
	
	}
.bottom2 {
	float:left;
	}
.change_user {
	margin-top:40px;
	width:250px;
	height:70px;
	background-color:#6200ea;
	color:#ffffff;
	font-size:18px;
	border:none; 
	outline:none;
	position:relative;
	left:-322px;
	}
.quit {
	width:250px;
	height:70px;
	background-color:red;
	color:#ffffff;
	font-size:18px;
	border:none; 
	outline:none;
	position:relative;
	display:flex;
	bottom:70px;
	right:-326px;
	}
